<ul class="list-separator nav navbar-nav well well-primary {{ page.layout }}">
{% assign page_url = page.url | prepend: site.baseurl | prepend: site.url %}
{% for i in site.data.urls %}
  {% assign current = nil %}
  {% assign linkurl = nil %}
  {% if i.url contains '://' %}
    {% assign linkurl = i.url %}
  {% else %}
    {% assign linkurl = i.url | prepend: site.url %}
  {% endif %}
  {% assign target = i.target %}
  {% unless target %} {% assign target = '_self' %} {% endunless %}
  {% if page_url == linkurl or page.layout == i.layout %} {% assign current = 'current-menu-item' %} {% endif %}
  <li class="col-lg-12 col-md-12 col-sm-4 col-xs-12 {{ current }}"><a href="{{ linkurl }}" target="{{ target }}"><i class="fa {{ i.icon }}"></i> {{ i.text }}</a></li>
{% endfor %}
</ul>