---
layout: default
---
{% capture icon_url %}/releases/{{ page._id }}/icon.png{% endcapture %}
{% capture download_url %}/releases/{{ page._id }}/{{ page._id }}-{{ page.version }}.zip{% endcapture %}
<div class="post-content well">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12" align="center">
      <img alt="icon" src="{{ icon_url | absolute_url }}" style="height:160px; width:160px" />
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <p>{{ page.summary }}</p>
      <p>{{ page.description }}</p>
    </div>
  </div>
  <div class="row">
    {% if page.forum %}<a class="btn btn-info btn-raised btn-sm" target="_blank" href="{{ page.forum }}">Обсуждение</a>{% endif %}
    {% if page.website %}<a class="btn btn-info btn-raised btn-sm" target="_blank" href="{{ page.website }}">Сайт проекта</a>{% endif %}
    {% if page.source %}<a class="btn btn-info btn-raised btn-sm" target="_blank" href="{{ page.source }}">Исходный код</a>{% endif %}
    <a class="btn btn-info btn-raised btn-sm" href="{{ download_url | absolute_url }}">Скачать</a>
  </div>
  <article class="content">
    <h3>Список изменений</h3>
    <blockquote><p>{{ content }}</p></blockquote>
  </article>
</div>
