---
layout: default
---
<div class="post-content well">
  <article class="content">
    <div class="post">{{ content }}</div>
  </article>

  <!-- Pagination links -->
  <ul class="pager">
  {% if page.previous.url %}
    <li class="previous">
      <a href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
    </li>
  {% else %}
    <li class="previous disabled"><span aria-hidden="true">&laquo;</span></li>
  {% endif %}

  {% if page.next.url %}
    <li class="next">
      <a href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
    </li>
  {% else %}
    <li class="next disabled"><span>&raquo;</span></li>
  {% endif %}
  </ul>
</div>